affine==2.3.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1610094673755/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1605217147095/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1606601143792/work
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1605566747158/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093613037/work
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1605902088619/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1607606177676/work
cycler==0.10.0
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1607657054678/work
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
earthpy @ file:///home/conda/feedstock_root/build_artifacts/earthpy_1592579821941/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
Fiona==1.8.18
GDAL==3.1.4
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1611609867122/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs-lite @ file:///Users/runner/miniforge3/conda-bld/imagecodecs-lite_1602583220109/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1613662486985/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1610122747343/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1607737243675/work/dist/ipykernel-5.4.2-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1604159584543/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1610146808808/work
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1607956439537/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1610202368656/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1605735034109/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1610099839286/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1610127727012/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1605180396303/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1610112931145/work
munch==2.5.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1605401854909/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1605195931949/work
netCDF4 @ file:///Users/runner/miniforge3/conda-bld/netcdf4_1608338525765/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1610575339226/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1609881171367/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1607785313469/work
pandas==1.2.0
pandocfilters==1.4.2
parfit==0.220
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1607618318316/work
patsy==0.5.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1609627806325/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1610471242275/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1606467285986/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1610127285153/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1607352093725/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1602663446955/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1610146831305/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291470465/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1608904108784/work
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1607290830483/work
PyYAML==5.3.1
pyzmq==20.0.0
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1604066198794/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
retrying==1.3.3
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1610147555246/work
scikit-image==0.18.1
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1608656242006/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1609457874711/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1608544589436/work
Send2Trash==1.5.0
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1602548104790/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
sklearn-hierarchical-classification==1.3.2
snuggs==1.4.7
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1610414563366/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1609794202661/work
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1591280222285/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094708534/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1605225765842/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
widgetsnbextension @ file:///Users/runner/miniforge3/conda-bld/widgetsnbextension_1605475534277/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1606798576866/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
